.container {
  width: 120px;
  height: 120px;
  position: fixed;
  bottom: 20px;
  right: 60px;
  z-index: 99;
  /* Make it a positioning context for its children */
}

.mainButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
  z-index: 2;
}

.subButtons {
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.subButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6c757d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  top: 35px;
  right: 35px;
}

/* Radial positioning for each sub-button */
.subButton:nth-child(1) {
  transform: translate(-70px, 0px);
  /* Left */
}

.subButton:nth-child(2) {
  transform: translate(-35px, -61px);
  /* Up-Left */
}

.subButton:nth-child(3) {
  transform: translate(35px, -61px);
  /* Up-Right */
}

.subButton:nth-child(1):hover,
.subButton:nth-child(2):hover,
.subButton:nth-child(3):hover {
  z-index: 9999;
}