.container {
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: var(--app-primary-color);
  border-color: var(--app-primary-color);
}

.container:hover {
  color: var(--app-primary-color-hover);
}

