.container {
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.container:hover {
  color: var(--app-color-orange-hover);
}
