.container {
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--app-white);
}

.container:hover {
  color: var(--app-primary-color-hover);
}

.solid {
  gap: 1rem;
  padding: .3rem;
  border-radius: .3rem;
  padding-inline: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--app-primary-color);
}

.solid:hover {
  background-color: var(--app-primary-color-hover);
}