.container {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--app-white);
}

.container:hover {
  color: var(--app-primary-color-hover);
}