.container {
  background-color: white;
  width: auto;
  padding: 1rem;
  border-radius: 3px;
}

.overviewContainer {
  border: none;
  box-shadow: 0 0 3px var(--app-color-grey-soft);
  border-radius: 3px;
  text-align: start;
  padding: 1rem;
}