.container {
  position: relative;
  bottom: 0;
  width: 100vw;
  min-height: 50vh;
  background-color: var(--dark-color);
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}