.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Dark background for the bar */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1500; /* Below modal, above other content */
}

.barBackground {
  width: 100%;
  height: .7rem;
  background-color: #555;
  overflow: hidden;
}

.barFill {
  height: 100%;
  background-color: var(--app-secondary-color);
  transition: width 0.5s ease-in-out;
}

.teacherBarFill {
  background-color: var(--app-color-orange);
}

.adminBarFill {
  background-color: goldenrod;
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
  font-size: .7rem;
}
