.container {
  top: 0;
  z-index: 98;
  height: 100%;
  padding: 2rem;
  display: none;
  overflow: auto;
  position: fixed;
  color: white;
  animation: width 2s forwards;
  background-color: var(--dark-color);
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}