.container {
  left: 3rem;
  height: 100%;
  z-index: 1;
  padding: 2rem;
  display: none;
  overflow: auto;
  position: absolute;
  color: white;
  animation: width 2s forwards;
  background-color: var(--dark-color);
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}