.container {
  width: 80%;
  height: 80%;
  padding: 0;
  border-radius: .3rem;
  background-color: var(--dark-color);
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  cursor: pointer;
  border: solid 2px;
  font-size: 1.5em;
  border-radius: .2rem;
  padding-inline: 1rem;
  border-color: var(--app-color-grey-soft);
}

.closeButton:hover {
  background: var(--app-secondary-color-hover);
}

.content {
  padding: 1rem;
  color: var(--app-white-500);
  text-shadow: 0 0 2px #000000;
}