.container {
  height: 100%;
  background-color: var(--dark-color);
  display: none;
  position: fixed;
  color: white;
  animation: width 2s forwards;
  z-index: 98;
  padding: 3rem;
  padding-bottom: 0;
  padding-top: 40px;
  top: 0;
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}