.container {
  display: flex;
}

.navigator {
  height: 100%;
  padding: 2rem;
  padding-inline: .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-color);
  box-shadow: 0px 0px 4px black;
}

.menuSection {
  gap: 2rem;
  height: 100%;
  padding-inline: .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.appSection {
  gap: 1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}