.contGoogleAuth{
  padding: 0;
  margin: 0;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-align: center;
}

.googleBtn{
  padding: 0;
  border: none;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f1f1f1, rgb(203, 203, 203));
  width: 100%;
  height: 45px;
  font-size: 13px;
  color: black;
  text-shadow: 0px 0px 1px rgba(50, 50, 50, 0.752);
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-duration: .4s;
  text-decoration: none;
}

.googleBtn:hover{
  background: linear-gradient(to bottom, #dddddd, rgb(201, 201, 201));
}

.googleLoginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanIcon {
  width: 100%;
}

.spanText {
  text-align: left;
  width: 100%;
}